:root{
    /* Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* Neutral */

--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  display: grid;
  place-content: center;
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
 }

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  gap: 0.5rem;
  /* grid-template-columns: 2fr 2fr; */
  align-content: center;
  
  h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--Grey-500);
    font-weight: 600;
  }
  
  p{
    
    font-size: .95rem;
    color: var(--Grey-400);
    font-weight: 400;
  }
  
  .top{
  display: grid;
  place-items: center;
  padding-block: rem;
  padding-inline: 10px;
  
  
  h1{
    font-size: 1rem;
    color: var(--Grey-400);
    font-weight: 400;
    align-self: center;
    padding-block: 40px 10px;
    padding-inline: inherit;
    font-size: 1.45rem;
    line-height: 1;
  }
  
  h2{
    font-size: 1rem;
    color: var(--Grey-500);
    font-weight: 600;
   align-items: center;
    padding-inline: inherit;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  p{
    margin-block-start: 1.25rem;
    padding-inline: inherit;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
}

.card-supervisor,
.card-team-builder,
.card-karma,
.card-calculator{
  max-width: 20rem;
  border-radius: 5px;
  border-top: 4px solid;
  padding-block: 1.25rem;
  margin-block: 1.25rem;
  padding-inline: 20px;
  box-shadow: 1px 1px 20px -10px var(--Cyan);
}

.card-supervisor,
.card-team-builder,
.card-karma,
.card-calculator{
    display: grid;
    grid-column-start: 1;
    place-items: start;
      
}

.card-supervisor img,
.card-team-builder img,
.card-karma img,
.card-calculator img{
    place-self: end;
    padding-block: 10px;

}

/* border colors */
.card-supervisor{
    border-color: var(--Cyan);
}

.card-team-builder{
    border-color: var(--Red);
}
.card-karma{
    border-color: var(--Orange);
}
.card-calculator{
    border-color: var(--Blue);
}

}

footer{
  display: grid;
  place-items: center;
  padding-block: 20px;
  padding-inline: inherit;

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }   

  
}

/* responsiveness */

@media (max-width: 48rem) {
  .container{
    max-inline-size: 100%;
    margin-inline: 1.5rem
    
  }
  
  .top {
    width: 9;
   margin-inline: 1.5rem;
   margin-block-start:  2rem;
   margin-block-end: 1rem;
  }
  
  .top h1, 
  .top h2, 
  .top p{
    font-size-adjust: .45;
    text-align: center;   
    margin-inline: 1.5rem;
    
     
  }
  
   
  .card-calculator,
  .card-karma,
  .card-supervisor,
  .card-team-builder{
    margin-inline: 1.5rem;
    width: 90vw;
    
    h3{
      font-size: 1.2rem;
    }
    
      
    p{
      font-size: .8rem;
    }
    
    img{
      width: 15%;
      margin-block-start:  10px;
      
    }
    
    
    
  }
  
  footer{
   margin-inline: 3rem;
   padding-inline: 2.5rem;
  }
}

@media (max-width: 64rem) {
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-inline: 1.5rem
    
  }
  
  .top {
    width: 9;
   margin-inline: 1.5rem;
   margin-block-start:  2rem;
   margin-block-end: 1rem;
  }
  
  .top h1, 
  .top h2, 
  .top p{
    font-size-adjust: .45;
    text-align: center;   
    margin-inline: 1.5rem;
    
     
  }
  
   
  .card-calculator,
  .card-karma,
  .card-supervisor,
  .card-team-builder{
    margin-inline: 1.5rem;
    width: 90vw;
    
    h3{
      font-size: 1.8rem;
    }
    
      
    p{
      font-size: 1rem;
    }
    
    
  }
  
  
  
  footer{
   margin-inline: 3rem;
   padding-inline: 2.5rem;
  }
}

